---
layout: markdown_page
title: "Product Kickoff Review"
---
<% keyValue = "13.2" # Set this to the next release we will kick off %>
- TOC
{:toc}

## Overview

The next GitLab release we are kicking off is
<%= keyValue %>
and this page contains the list of issues that are currently planned for that release. We present this during the monthly kickoff call, which is livestreamed publicly to the [GitLab YouTube channel](https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg).

This meeting is hosted by the [VP of Product](https://about.gitlab.com/job-families/product/vp-of-product/). During the meeting, Product Section leaders will present highlights from their respective areas. We will not cover each item in the list below, so feel free to click on any you're interested in and participate directly in the issue. Please also use YouTube comments instead of Google Hangout or Zoom comments.

This page updates on the 22nd of each month to show the next release we will be kicking off. We also have [a YouTube playlist of the below referenced recorded Kickoffs](https://www.youtube.com/playlist?list=PL05JrBw4t0KqWysAAKFYYIE2Tf9IZB5bv).

We'd appreciate it if you would be willing to provide us [feedback](
https://docs.google.com/forms/d/e/1FAIpQLSdNyIB_Rk3rn2-PI-5dWhb7rUfBLmGziTlbmeKYP-mFQEESQQ/viewform?usp=sf_link) on our Kickoff process.

## Dev Section

### Manage

**Video**:
* [Manage Kickoff Video for Access, Compliance, and Import](https://youtu.be/uw7dQIEwSpk)
* [Manage Kickoff Video for Analytics](https://www.youtube.com/playlist?list=PL05JrBw4t0KpDCMCV0GVPxPjJUg6bun0F)

**Issues**:
<%= direction[keyValue]["manage"] %>

### Plan

**Video**:
* [Plan: Project Management Kickoff Video](https://www.youtube.com/playlist?list=PL05JrBw4t0KoVOLOpXpnvmWwvUCieXJ-K)
* [Plan: Portfolio Management Kickoff Video](https://www.youtube.com/playlist?list=PL05JrBw4t0KqePRdHdedISGkCONp6QCaT)
* [Plan: Certify Kickoff Video](https://www.youtube.com/playlist?list=PL05JrBw4t0KpRGDNj5qwy5YOj9eEQ6Ut_)

**Issues**:
<%= direction[keyValue]["plan"] %>

### Create

**Videos**:
* [Create:Source Code Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KqLWXT14d0V1OWRMDPfmdxU)
* [Create:Knowledge Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Krp3cmR4b0gbtEmTA0Iu76-)
* [Create:Editor Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Kpgl_ChXIzlTZclv4379xM1)
* [Create:Static Site Editor Kickoff Video](https://youtu.be/2GFkNcFXCcc)
* [Create:Ecosystem Kickoff Video](https://youtu.be/XwmzJ9B5dKY)
* [Create:Gitter Kickoff Video](https://youtu.be/ZZ5EwGfNB40)
* [Create:Gitaly Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Ko8vcQJc4-6J_g7ohpsQIkz)

**Issues**:
<%= direction[keyValue]["create"] %>

## Ops Section

### Verify

**Videos**:

* [Continuous Integration 13.2](https://youtu.be/JEIwm7jw43U)
* [Runner 13.2](https://youtu.be/G9lfG1Y-m3w)
* [Testing 13.2](https://youtu.be/ChHpi2lTeb4)

**Issues**:
<%= direction[keyValue]["verify"] %>

### Package

**Videos**:

* [Package 13.2](https://youtu.be/S1kLhMPA8Eg)

**Issues**:
<%= direction[keyValue]["package"] %>

### Release

**Videos**:

* [Release Management 13.2](https://youtu.be/cZCNM-nx-tw)
* [Progressive Delivery 13.2](https://youtu.be/V6P2E-g7AKY)

**Issues**:
<%= direction[keyValue]["release"] %>

### Configure

**Videos**:
* [Configure 13.0](https://www.youtube.com/watch?v=j33FNWIP0zg)
* [Configure 13.1](https://youtu.be/GOqnk8gcqB0)
* [Configure 13.2](https://youtu.be/whft23q7VFo)

**Issues**:
<%= direction[keyValue]["configure"] %>

### Monitor

**Videos**:
* [APM 13.2](https://youtu.be/wlZQEbBIBio)
* [Health 13.2](https://youtu.be/OUKg92IG2co)

**Issues**:
<%= direction[keyValue]["monitor"] %>

## Secure & Defend Section

### Secure

**Videos**:
* [Static Analysis 13.2 Kickoff Video](https://youtu.be/JvWkPrTVLww)
* [Dynamic Analysis 13.2 Kickoff Video](https://youtu.be/7VTLench_Wg)
* [Composition Analysis 13.2 Kickoff Video](https://youtu.be/6it7RzS6K08)
* [Fuzz Testing 13.2 Kickoff Video](https://www.youtube.com/watch?v=Wq76JaVPhKE)
* [Threat Insights 13.2 Kickoff Video](https://youtu.be/re7sP-KDJq4)

**Issues**:
<%= direction[keyValue]["secure"] %>

### Defend

**Videos**:
* [Container Security 13.2 Kickoff Video](https://youtu.be/Ie-ki2dCZzI)

**Issues**:
<%= direction[keyValue]["defend"] %>

## Enablement Section

### Enablement

**Videos**:

* [Distribution Kickoff Video](https://youtu.be/ycZMmZEOGa0)
* [Geo Kickoff Video](https://youtu.be/qw3PeoPXPUs)
* [Memory Kickoff Video](https://youtu.be/6HK5iE1cyPI)
* [Database Kickoff Video](https://youtu.be/KcD9_mcMgBQ)
* [Global Search Kickoff Video](https://youtu.be/sGVrW1Z0g1k)

**Epics**:
- [Geo: Build a scalable, self-service geo replication and verification framework](https://gitlab.com/groups/gitlab-org/-/epics/2161)
- [Geo: Improved support for a planned failover](https://gitlab.com/groups/gitlab-org/-/epics/2148)
- [Geo: Geo: Promoting a secondary should be simple](https://gitlab.com/groups/gitlab-org/-/epics/3131)
- [Geo: Improve Geo scalability by simplifying backfill operations](https://gitlab.com/groups/gitlab-org/-/epics/2851)
- [Memory: Gather operational metrics and topology data](https://gitlab.com/groups/gitlab-org/-/epics/3209)
- [Database: Database Partitioning](https://gitlab.com/groups/gitlab-org/-/epics/3206)
- [Distribution: Add support for Patroni](https://gitlab.com/groups/gitlab-org/-/epics/2588)
- [Distribution: Secure solution for managing Omnibus configuration secrets](https://gitlab.com/groups/gitlab-org/-/epics/2548)
- [Add support for PostgreSQL 12](https://gitlab.com/groups/gitlab-org/-/epics/2374)
- [Orchestrator - Automate the deployment of GEO and scaled GitLab on GCP](https://gitlab.com/groups/gitlab-org/-/epics/2376)
- [Global Search: Enable Advanced Global Search for Paid groups on GitLab.com](https://gitlab.com/groups/gitlab-org/-/epics/1736)
- [Global Search: Zero Downtime Re-indexing](https://gitlab.com/groups/gitlab-org/-/epics/2752)


**Issues**:
<%= direction[keyValue]["enablement"] %>
